.classpath
.project
/target

/.settings
/.git

config-server/target
config-server/.settings
config-server/.git

eureka-server/target
eureka-server/.settings
eureka-server/.git

service-core/target
service-core/.settings
service-core/.git

service-sms/target
service-sms/.settings
service-sms/.git


.idea
*.iml
*/*.iml